.navcontainer{
    background-color: rgb(205, 87, 87);
    margin-bottom: 1rem;
}
.navul {
    margin: 0;
    
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
   height: 5rem;
  
}

.navlink {
    display: block;
    color: aliceblue;
text-align: center;
    
    flex: 1;
    list-style-type: none;
  

}

.navlink:hover{
  text-align: center;
    flex: 1;
    background-color: rgb(205, 87, 87);
    color: rgb(255, 255, 255);
    height: 4rem;

    font-size: 3rem;
  
}

