.navcontainer{
    background-color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}
.navul {
    margin: 0;
    padding: 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
   height: 5rem;
  
}

.navlink {

    
    flex: 1;
    list-style-type: none;
  

}

.navlink:hover{
  
    flex: 1;
    background-color: rgb(82, 82, 82);
    color: rgb(255, 255, 255);
    height: 4rem;
    justify-content: center;
    align-items: center;
  
}

