.container{
  overflow:scroll;
}
.container ::-webkit-scrollbar{
  display: none;
}


.sidebar{
  background-color: rgb(255, 255, 255);
  padding: 0.3rem;
  display: flex;
  flex-direction: column;

}


.ytcontainer{
margin-bottom: 1rem;
}

.heading{
  margin-top:0;
  margin-bottom: 15px;
  padding: 0;
}