/* special news section */
.specialnews{
    background-color: rgb(255, 255, 255);
    border-top: 0.2ch solid gray;
    color: rgb(255, 128, 0);
    margin: 0 0 2rem 0;
    padding: 0;
    position: relative;
    overflow: hidden;
   
}

/* .specialnews::-webkit-scrollbar{
    display: none;
} */

.heading{
    margin:0.5rem;
    font-weight: bold;
}




.spgrid{
    margin: 0;
    padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  
  }
  

.spcontainer{
  
    padding: 0;
    display: flex;
    flex-direction: column;

    justify-items: center;
    height: 17rem;
    width: 22rem;
}

.spimage{
    position: relative;
    display: inline-block;
    height: 12rem;
    width: 22rem;
    margin: 0.1rem;
    padding: 0;
}

.sphead{
    color: rgba(0, 0, 0, 0.866);
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.1rem;
    padding: 0;

    width: 22rem;
}

.sppara{
    font-weight: 500;
    color: black;
    opacity: 0.8;
    margin: 0.1rem;
    padding: 0;
   
    width: 22rem;
}

