/* special news section */
.specialnews{
    background-color: rgb(255, 255, 255);
    border-top: 0.2ch solid gray;
    color: rgb(255, 128, 0);
  
    position: relative;
}

.heading{
    margin:0.5rem;
    font-weight: bold;
}



.spimage{
    position: relative;
    display: inline-block;
    height: 12rem;
    width: 22rem;
    margin: 0.1rem;
    padding: 0;
}

.sphead{
    color: rgba(0, 0, 0, 0.866);
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.1rem;
    padding: 0;
}

.sppara{
    font-weight: 500;
    color: black;
    opacity: 0.8;
    margin: 0.1rem;
    padding: 0;
}

.spcontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    height: 20rem;
    width: 22rem;
}

.spgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.spgrid :nth-child(n){
    margin: 0;
    padding: 0.2rem;
}